# FastAPI & Uvicorn
fastapi
uvicorn

# Oracle DB
oracledb

# 환경변수 로딩
python-dotenv

# HTTP 요청
requests

# 데이터 밸리데이션
pydantic

# LangChain 및 플러그인들
langchain
chromadb
openai
langchain-openai         # langchain_openai 모듈
langchain-chroma         # langchain_chroma 모듈
langchain-core           # langchain_core 모듈
langchain-community      # langchain_community 모듈

# 날짜 처리
python-dateutil