<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.smhrd.web.admin.AdminMapper">

    <select id="selectFarmList" resultType="com.smhrd.web.admin.AdminDTO">
        SELECT 
            FARM_IDX AS farmIdx,
            FARM_NAME AS farmName,
            FARM_ADDR AS farmAddr,
            FARM_PHONE AS farmPhone,
            FARM_CROPS AS farmCrops,
            FARM_AREA AS farmArea,
            TO_CHAR(CREATED_AT, 'YYYY-MM-DD') AS createdAt,
            FARM_IMG AS farmImg,
            USER_PHONE AS userPhone
        FROM QC_FARM
        ORDER BY CREATED_AT DESC
    </select>

</mapper>
  